/* Reset of default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Background color and styles to the body */
body {
    background-color: #f2f2f2; /* Light gray background */
    font-family: 'Helvetica Neue', sans-serif;
}

/* Style for the header and navigation */
header {
    background-color: black; /* Dark gray header background */
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul.nav-menu {
    list-style: none;
    padding: 0;
}

nav ul.nav-menu li {
    display: inline;
    margin-right: 20px;
}

nav ul.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu a:hover {
    color: grey;
}

/* Style for the main content area */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 50px;
    font-size: 20px; 
    font-family: 'Lato', sans-serif;
    text-align: center;
}